body, html{
    color: white;
    background-color: #565656;
}

.container{
    display: flex;
}

.header{
    height: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mainDiv{
    background-color: #D7CEC7;
    flex-direction: column;
    height: 600px;
    color: #76323F;
    justify-content: center;
    align-items: center;
}

.infoPanel{
    margin: auto;
}

#time{
    height: 150px;
    font-size: 800%;
}

#status{
    font-size: 300%;
}

.btn{
    height: 50px;
    color: white;
    background-color: #565656;
    font-size: 125%;
    border: none; 
    width: 50%;
}     

.btn:hover{
    font-weight: bold; 
}

.btn:active{
    background-color: #76323F;
}

#startBtn{
    border-right: 1px solid white;
}

#pauseBtn{
    border-right: 1px solid white;
}

